@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/*  barra de navegação  */

nav{ 
  background-color: #FD5F2D;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 15px;
}

#forma-1{
  z-index: -2;
  right: 0px;
}

#logo-main{
  fill: white;
}
/*  pagina inicial  */

#mainimage{
  left: 62%;
  top: -5%;
  z-index: -1;
}

#titulo-main{
  color: #CE2501;
  font-family:'Lilita One', cursive;
  font-size: 50px;
  line-height: 0.75;
}

#subtitulo-1-main{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  
}

#button1{
  color: #CE2501;
  padding: 10px;
  margin: 30px;
  margin-left: 0px;
  background-color:none;
  border: 3px;
  border-color: #CE2501;
  border-style: solid;
  font-size: 18px ;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
}

#button1:hover{
  background-color: #FD5F2D;
}

/*  Sobre  */

#equipe-img{
  z-index: +1;
  position: absolute;
  right: 11%;
}
#carrossel{
  font-family: 'Poppins', sans-serif;
  
}
#carrossel h5{
  font-family:'Lilita One', cursive;
  font-size: 30px;
  color:#CE2501 ;
}

#button2{
  color: #FD5F2D;
  background-color: #FD5F2D;
  border-radius: 100%;
}
#patinhas-1{
  position: absolute;
  left: 70%;

}

/*  Catalogo  */
#text-catalogo{
  font-family:'Lilita One', cursive;
  font-size: 30px;
  color:#CE2501 ;
  
}
#text-catalogo h3{
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  
}
#cachorro-titulo h2{
  color: #CE2501;
  font-size: 30px;
  
}

#nome{
  padding: 0px 30px;
  font-size: 20px;
  width: 180px;
  float: left;
  text-align: left;
  border-color: black;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 5px 5px rgba(0,0,0, 0.5);
  color: black;
}
img{
  border-radius: 10px 10px 0px 0px;
}

/*  catalogo slides  */

#container {
  
  height: 360px;
  overflow-x:hidden;
}

#content {
  
  width: 250px;
  background-color: none;
}

#slideLeft{
  width: 40px;
  height: 360px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0,0,0, 0.5);
  border: none;
  z-index: +1;
  
}
#slideRight{
  position: absolute;
  left: 1080px;
  width: 40px;
  height: 360px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0,0,0, 0.5);
  border: none;
  
  z-index: +1;
}








.filterDiv {
  float: left;
  background-color: none;
  color: #ffffff;
  width: 180px;
  margin: 2px;
  display: none;
}

.show {
  display: inline;
}

.container1 {
  position: absolute;
  width: 1080px;
  height: 180px;
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/*     quero  ajudar      */
.icon1{
  fill: #FD5F2D;
}
#text-mensal{
  color: #FD5F2D;
}
#q-ajudar-title{
  font-family: 'Lilita One', cursive;
  color: #FD5F2D;
}
#b-doacoes{
  color: #CE2501;
  width: 150px;
  height: 50px;
  border: 2px;
  border-style: solid;
  border-color:#CE2501 ;
  border-radius: 15px;
  background-color: white;
}

#b-doacoes a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #CE2501;
}
#b-doacoes:hover{
  background-color: #FD5F2D;
}
#setas-color{
  fill: #FFC222;
}
.cls-1 {
  fill: #FFC222;
 font-size: 85px;
font-family: GochiHand-Regular, Gochi Hand;
}
#seta2{
  fill: #FFC222;
  position: absolute;
  left: 70%;
}


/*    local     */

#local-div h4{
  padding-left: 15px;
}

#local-div{
  padding: 20px;
}

/*    bazar   */

.bazar-img{
  position: absolute;
  left:-20px;
}
#bazar-div{
font-family: 'Poppins', sans-serif;
}
#bazar-div button{
  font-size: 20px;
}
#bazar-div svg{
  fill: #FD5F2D;
}

/*   Rifas   */

#rifa-div-forma svg{
  position: absolute;
  left: 24%;
}

#rifa-div svg{
  fill: #FD5F2D;
}

#buttons-alt{
  color: #CE2501;
  width: 150px;
  height: 50px;
  border: 2px;
  border-style: solid;
  border-color:#CE2501 ;
  border-radius: 15px;
  background-color: white;
}

#buttons-alt a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #CE2501;
}

/*   voluntario  */

#voluntario-div svg{
  fill: #FD5F2D;
}

/*    footer    */
footer{
  color: #CE2501;
}
footer svg{
  fill: #CE2501;
}

#footer-main-form{
  margin: 0%;
  position: absolute;
}
#footer-main{
  position: absolute;
  left:-15px;
}
#redes-div{
position: absolute;
top: 200px;
}

/*  perfil do animal  */
#fotos-perfil{

}

#fotos-perfil img{
border-radius: 20px;
padding-top: 5px;
}

#perfil-info-div li{
  list-style: none;
  font-size: 15px;
}
#button-adotar{
  color: #CE2501;
  width: 250px;
  height: 50px;
  border: 2px;
  border-style: solid;
  border-color:#CE2501 ;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 2px 2px rgba(0,0,0, 0.5);
}
#button-adotar a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #CE2501;
}
#button-adotar:hover{
  background-color: #FD5F2D;
}