<%- contentFor( 'body' ) %>
    <div id="main">
        <div id="main2">
            <div class="container-fluid position-absolute mx-0" id="forma-1">
                <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #f5f5f5;
                            }
                        </style>
                    </defs>
                    <title>Forma 1</title>
                    <path class="cls-1"
                        d="M.13,1022,0,0H1920c-.15,246.6,0,937.57,0,937.57s-18.23-2.84-35.43-4.05c-253.4-17.85-420.34-26-749.93,60.94-78.24,20.65-302.12,63.56-371.22,71.75-80.24,9.52-160.83,13.15-241.57,13.72-61.71.43-123.37-1-185-5-49.76-3.25-99.31-8.43-148.61-15.87C125,1049.46,62.62,1035.44.13,1022Z" />
                </svg>
            </div>

            <div class=" position-absolute d-flex" id="mainimage">
                <img src="/img/fotos/Estático - Cao.png" width="498" alt="">
            </div>
            <h1 class="col-4 pt-5 " id="titulo-main">
                Encontre o seu
                melhor amigo</h1>
            <h4 class="col-6 pt-1 " id="subtitulo-1-main">
                Existem cada vez mais animais abandonados e tudo que eles precisam é de alguém para amar.
            </h4>
            <h4 class="col-6 pt-1" id="subtitulo-1-main">
                Ao adotar você
                não ganha apenas um pet para lhe fazer companhia, você ganha um amigo para todos os momentos. Não
                compre, adote!
            </h4>
        </div>

        <div class="col-12 pt-1 d-flex" id="button">
            <button type="button" class="btn btn-none  btn-lg " id="button1">QUERO ADOTAR</button>
            <button type="button" class="btn btn-none  btn-lg " id="button1">QUERO ADOTAR</button>
        </div>
        <div class="row-1 p-5 position-absolute">
            <svg id="setas-color" width="100" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 200 200">
                <title>Elementos - Patona</title>
                <path
                    d="M108.37,12a25.75,25.75,0,0,1,3.86,1.93c15.31,9.3,18,31.9,6.13,51.46-10.91,18-29.77,26.2-44.63,20.23a27.33,27.33,0,0,1-3.86-1.94c-15.31-9.29-18-31.9-6.12-51.46C74.65,14.24,93.51,6,108.37,12Zm1.29-3.2L108.38,12l1.28-3.2h0C93,2.09,72.48,11.19,60.8,30.42,54.66,40.53,52,51.81,53.19,62.19c1.28,10.69,6.56,19.36,14.89,24.42a30.58,30.58,0,0,0,4.36,2.18c16.64,6.69,37.18-2.41,48.86-21.64C134.18,46,131,21.26,114,11a30.07,30.07,0,0,0-4.36-2.18Z" />
                <path
                    d="M173.91,51.77a26.13,26.13,0,0,1,3.85,1.93c15.32,9.3,18,31.9,6.13,51.46-10.91,18-29.76,26.21-44.63,20.23a26.24,26.24,0,0,1-3.86-1.93c-15.31-9.3-18-31.9-6.12-51.46C140.19,54,159,45.79,173.91,51.77Zm1.28-3.19-1.28,3.19,1.28-3.19h0C158.56,41.89,138,51,126.33,70.21c-6.14,10.12-8.84,21.4-7.6,31.77,1.27,10.69,6.56,19.36,14.89,24.42a30.13,30.13,0,0,0,4.36,2.19c16.63,6.69,37.18-2.41,48.85-21.64,12.88-21.21,9.68-45.89-7.28-56.19a29.09,29.09,0,0,0-4.36-2.18Z" />
                <path
                    d="M29.89,43.12C39.53,47,47.4,58,48.29,71.88c1.06,16.48-8.83,26.93-20.71,25.8a19.79,19.79,0,0,1-5.5-1.36c-9.58-3.86-18-15-18.6-28.82C2.8,51.23,12,40.49,24.2,41.7a21,21,0,0,1,5.69,1.42Zm1.29-3.19h0a24.21,24.21,0,0,0-6.64-1.65A20.38,20.38,0,0,0,8.31,43.75C2.56,49.19-.38,57.67,0,67.65.63,81.73,9.17,94.84,20.8,99.51a22.92,22.92,0,0,0,6.45,1.6,20.74,20.74,0,0,0,16.63-5.85c5.69-5.52,8.47-13.9,7.85-23.6-.94-14.63-9-27.09-20.55-31.73Z" />
                <path
                    d="M182.84,136.06a23,23,0,0,1,10.86,8.58c6.69,10.24,1.41,23.38-13.34,30.28a34.32,34.32,0,0,1-27,1.05,23,23,0,0,1-10.9-8.52c-6.48-10-1.77-23.62,13.34-30.28,9.53-4.19,19.37-4.19,27-1.11Zm1.29-3.19h0c-9-3.62-19.83-3.2-29.71,1.15-8.89,3.92-15,10.26-17.32,17.85a20.73,20.73,0,0,0,2.47,17.45,26.29,26.29,0,0,0,12.51,9.84A38,38,0,0,0,181.82,178c9-4.23,15.22-10.75,17.38-18.36a20.36,20.36,0,0,0-2.62-16.93,26.34,26.34,0,0,0-12.45-9.88Z" />
                <path
                    d="M100.49,101.42a31.07,31.07,0,0,1,5.17,2.64c23.17,14.65,25.18,59.65,13.27,78.48-4.94,7.8-16.43,9.48-28,4.82A44,44,0,0,1,84,183.8a40.11,40.11,0,0,1-10.28-9.5A30.22,30.22,0,0,0,65.88,167a26.51,26.51,0,0,0-4.24-2.19A42.16,42.16,0,0,0,55.89,163a51.27,51.27,0,0,1-7-2.16,36.37,36.37,0,0,1-6-3.06c-13.68-8.65-19.75-22.76-13.83-32.12,11.07-17.5,47.7-33.82,71.42-24.28Zm1.29-3.2-1.29,3.2,1.29-3.2h0c-11.58-4.65-27.23-3.93-43,2C44.5,105.58,32,114.65,26.16,123.86c-7,11-.41,27.19,14.9,36.87a40.15,40.15,0,0,0,6.51,3.35,55.19,55.19,0,0,0,7.48,2.3,38.64,38.64,0,0,1,5.3,1.59,22.69,22.69,0,0,1,3.69,1.9,27.16,27.16,0,0,1,7,6.62,43.81,43.81,0,0,0,11.1,10.22,45.53,45.53,0,0,0,7.47,3.84c13.51,5.43,26.46,2.95,32.23-6.17,6.37-10.08,9.07-26.58,7-43.07-2.27-18.38-10.06-33-21.37-40.16a35.8,35.8,0,0,0-5.72-2.93Z" />
            </svg>
        </div>
    </div>

    <!----------------------------------------------------------------------------->
    <div class="row-1 p-5">
    </div>

    <div class="d-flex pt-5" id="abouts">
        <div class="col-6 d-flex position-relative w-100" id="equipe-img">
            <img src="/img/forms/Forma - Quem somos.svg" width="1000px" alt="">
        </div>
        <div class="col-5 d-flex pt-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" id="carrossel">
                    <div class="carousel-item active">
                        <div class=" d-none d-md-block">
                            <h5>Quem Somos?</h5>
                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                                amet, consectetur,"</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class=" d-none d-md-block">
                            <h5>Mais info</h5>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum."</p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <a class=" carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="rol-1 carousel-control-next-icon p-3" id="button2"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="position-absolute" id="patinhas-1">
        <svg id="setas-color" width="150" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <title>Elementos - Patinhas</title>
            <path
                d="M27.08,175.54c-3.35-2.29-3.69-7.43-.76-11.72s7.84-5.84,11.19-3.55,3.69,7.44.76,11.72S30.43,177.83,27.08,175.54Z" />
            <path
                d="M41.43,185.34c-3.36-2.29-3.69-7.44-.77-11.72s7.84-5.84,11.19-3.55,3.69,7.43.77,11.71S44.78,187.63,41.43,185.34Z" />
            <path d="M12.26,171.08c0-3.69,2.25-6,5-5.58s5,3.35,5.08,7.12-2.32,6-5,5.58S12.21,174.79,12.26,171.08Z" />
            <path
                d="M42.49,195.38c-1.34-2.35-.11-5.37,3.39-6.69s7.1-.23,8.48,2.14,0,5.31-3.39,6.69S43.81,197.67,42.49,195.38Z" />
            <path
                d="M29.06,198.37a9.07,9.07,0,0,1-2.21-2.28A6.48,6.48,0,0,0,23,193.33,9.08,9.08,0,0,1,20.08,192c-3-2.12-4.19-5.39-2.74-7.43,2.92-4.12,12.53-7.57,17.59-4s5,13.8,2,17.91C35.53,200.55,32.05,200.49,29.06,198.37Z" />
            <path
                d="M125.3,84.28c-2-3.52-.06-8.29,4.44-10.86s9.61-1.82,11.62,1.7.06,8.3-4.44,10.87S127.31,87.81,125.3,84.28Z" />
            <path
                d="M133.91,99.37c-2-3.52-.06-8.3,4.44-10.87S148,86.68,150,90.21s.06,8.3-4.44,10.87S135.92,102.9,133.91,99.37Z" />
            <path
                d="M113.92,73.79c1.66-3.3,4.66-4.42,6.94-2.84s3.07,5.22,1.46,8.63-4.71,4.36-6.94,2.83S112.26,77.1,113.92,73.79Z" />
            <path
                d="M130.47,108.86c-.18-2.69,2.25-4.87,6-4.53s6.49,2.91,6.69,5.64-2.29,4.79-6,4.54S130.65,111.5,130.47,108.86Z" />
            <path
                d="M117.09,105.68a9,9,0,0,1-1-3,7,7,0,0,0-.75-2.31,6.75,6.75,0,0,0-1.54-1.88,8.9,8.9,0,0,1-2-2.46c-1.76-3.21-1.42-6.68.78-7.88,4.43-2.42,14.58-1.32,17.56,4.13s-1.57,14.58-6,17C122,110.47,118.85,108.89,117.09,105.68Z" />
            <path
                d="M58.7,122.24c-4-.55-6.62-5-5.92-10.14s4.39-8.73,8.42-8.18,6.62,5,5.92,10.14S62.72,122.79,58.7,122.24Z" />
            <path
                d="M75.91,124.59c-4-.55-6.62-5-5.92-10.14s4.4-8.73,8.42-8.19,6.62,5,5.92,10.14S79.93,125.13,75.91,124.59Z" />
            <path
                d="M43.45,124.89c-1.61-3.32-.67-6.39,2-7.24s6,.74,7.73,4.1.6,6.39-2,7.23S45.07,128.22,43.45,124.89Z" />
            <path
                d="M81.36,133.09c-2.25-1.5-2.51-4.75,0-7.5s6.25-3.38,8.55-1.87,2.41,4.72,0,7.49S83.56,134.55,81.36,133.09Z" />
            <path
                d="M70.69,141.77a9.11,9.11,0,0,1-3-1,6.7,6.7,0,0,0-2.29-.82A6.89,6.89,0,0,0,63,140a9.13,9.13,0,0,1-3.17.09c-3.62-.57-6.16-3-5.78-5.43.78-5,7.82-12.37,14-11.42s10.62,10.12,9.85,15.11C77.45,140.83,74.31,142.33,70.69,141.77Z" />
            <path
                d="M154.74,18.38c-4-.55-6.62-5-5.92-10.14s4.39-8.73,8.41-8.18,6.63,5,5.93,10.13S158.76,18.92,154.74,18.38Z" />
            <path d="M172,20.72c-4-.55-6.62-5-5.92-10.14s4.39-8.73,8.42-8.18,6.62,5,5.92,10.14S176,21.27,172,20.72Z" />
            <path d="M139.49,21c-1.62-3.32-.67-6.38,2-7.23s6,.74,7.73,4.09.6,6.39-2,7.23S141.11,24.36,139.49,21Z" />
            <path
                d="M177.4,29.22c-2.25-1.5-2.51-4.75,0-7.5s6.25-3.38,8.55-1.87,2.4,4.73,0,7.5S179.6,30.69,177.4,29.22Z" />
            <path
                d="M166.72,37.9a9,9,0,0,1-3-1,6.78,6.78,0,0,0-2.29-.82,6.89,6.89,0,0,0-2.43.09,9.14,9.14,0,0,1-3.17.09c-3.62-.56-6.16-2.94-5.78-5.42.78-5,7.82-12.37,14-11.42s10.62,10.11,9.85,15.1C173.49,37,170.35,38.47,166.72,37.9Z" />
        </svg>
    </div>

    <div class="container-fluid position-absolute mx-0" id="forma-1">
        <img src="/img/forms/Forma 2.svg" alt="">
    </div>
    <!----------------------------------------------------------------------------->