<div class="d-flex" id="fotos-perfil">
    <div class="col-6 d-flex p-5">
        <div class="d-block col-3">
            <img src="/img/placeholder.png" width="75px" height="75px" alt="">
            <img src="/img/placeholder.png" width="75px" height="75px" alt="">
        </div>
        <img src=" /img/placeholder.png" width="400px" alt="">
    </div>
    <div class="col-6 p-5">
        <h2>Oi, meu nome é banguela</h2>
        <h4>essa é minha historia</h4>
        <h6 class="text-justify">Essa é minha História
            Banguela está procurando um treinador de gatinhos que lhe dê muito amor e carinho! Assim como seu xará
            Fúria
            da Noite, ele é muito amoroso, companheiro e super sapeca.
            Esse gatinho foi resgatado no campus do Pici em um estado muito crítico de desnutrição e desnutrição,
            além
            de feridas que pareciam ser decorrentes de brigas. No entanto, assim como o bravo Banguela do filme, ele
            lutou muito e fez todos os tratamentos necessários. Agora é um gatinho extremamente feliz e agitado que
            está
            em busca do seu Soluço para que juntos possam viver vários momentos de aventuras e fofurices.
        </h6>
    </div>
</div>

<div class=" d-flex" id="perfil-info-div">
    <div class="col-4">
        Meus Dados
        <ul>
            <li>gato</li>
            <li>pequeno</li>
            <li>macho</li>
        </ul>
    </div>
    <div class="col-4">
        Minha Personalidade
        <ul>
            <h7>Temperamento:</h7>
            <li>gato</li>
            <li>pequeno</li>
            <li>macho</li>
            <h7>Sociavel com:</h7>
            <li>gato</li>
            <li>pequeno</li>
            <li>macho</li>
        </ul>
    </div>
    <div class="col-4">
        Minhas Caracteristicas
        <ul>
            <h7>Vivo bem com:</h7>
            <li>gato</li>
            <li>pequeno</li>
            <li>macho</li>
            <h7>Já estou:</h7>
            <li>gato</li>
            <li>pequeno</li>
            <li>macho</li>
        </ul>
    </div>
</div>
<div>

</div>
<div class="text-center pt-5">
    <button id="button-adotar"><a href="#">QUERO ADOTAR</a></button>
</div>